.skills-list .label{
    display: inline-block;
    width: 80px;
    font-weight: 600;
}
.points{
    color: #de0707;
}
.points:after{
    line-height: .3rem;
}
.points[points='0']:after{
    content: 'None';
}
.points[points='1']:after{
    content: '█';
}
.points[points='2']:after{
    content: '█ █';
}
.points[points='3']:after{
    content: '█ █ █';
}
.points[points='4']:after{
    content: '█ █ █ █';
}
.points[points='5']:after{
    content: '█ █ █ █ █';
}

.fight{
    position: relative;
}
.fight__animation{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(2);
}

.progress-bar{
    width: 100%;
    height: 30px;
    border: #718096;
    border-radius: 4px;
}

.progress-bar__bar{
    background: #de0707;
    width: 100%;
    height: 30px;
    border-radius: 4px;
}
